<div id="main-menu">
    <h2 class="">Main Menu</h2>

    <ul id="s">
        <li class="menu-item" id="item-1">{{#link-to "play"}}play{{/link-to}}</li>
        <li class="menu-item" id="item-2">Audio On</li>
        <li class="menu-item" id="item-3">Audio Off</li>
    </ul>
</div>